.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header-section h2 {
  font-family: var(--logipulse-font);
  font-weight: 700;
  color: var(--logipulse-dark-blue);
  margin: 0;
}

.btn-primary {
  background-color: var(--logipulse-dark-blue) !important;
  color: white !important;
}

.btn-secondary {
  background-color: black !important;
  color: white !important;
}

.search-field {
  width: 100%;
  margin-bottom: 15px;
}

.filter-panel {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 20px;
  align-items: center;
}

.filter-actions {
  display: flex;
  margin-bottom: 25px;
  gap: 10px;
}

.route-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.85rem;
}
.route-info mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: #777;
}

.mat-column-acciones {
  width: 140px;
  text-align: center;
}

.action-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}

/* Badges de Estatus */
.status-badge {
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.badge-pending { background: #fff3e0; color: #ef6c00; } /* Naranja */
.badge-transit { background: #e3f2fd; color: #1565c0; } /* Azul */
.badge-success { background: #e8f5e9; color: #2e7d32; } /* Verde */
.badge-danger { background: #ffebee; color: #c62828; }  /* Rojo */

/* .full-width { width: 100%; margin-bottom: 10px; } */
