/* Contenedor principal de 2 columnas */
.login-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: auto;
  font-family: var(--logipulse-font);
}

/* Columna del formulario */
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* Para colocar el copyrigth abajo */
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 250px 20px 40px 20px;
  box-sizing: border-box;
}

/* La caja azul del formulario */
.login-box {
  background-color: var(--logipulse-dark-blue); /* Usa el color de style.css */
  color: white;
  border-radius: 25px;
  padding: 70px 30px 40px 30px;
  width: 100%;
  max-width: 450px; /* Ancho máximo para Desktop */
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

/* Columnna de la imagen*/
.image-container {
  flex: 1.5;
  background-image: url('/assets/login-bg.jpg');
  background-size: cover;
  background-position: center;
}

/* Logo de la empresa */
.logo-wrapper {
  position: absolute;
  top: -55px;
  left: 50%;
  overflow: hidden; /* Esconde las partes de la imagen que se extienden del circulo */
  transform: translateX(-50%);
  background: white;
  border-radius: 50%; /* Círculo */
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-wrapper img {
  width: 80px;
  height: 80px;
  display: block;
}

/* Fuentes */
h2, h3, .slogan {
  margin-top: 0;
  text-align: center;
  font-family: var(--logipulse-font);
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.slogan {
  font-size: 1rem;
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* Estilos de Formulario */
label {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 1rem;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-top: 0.1rem;
  border: none;
  font-family: var(--logipulse-font);
  box-sizing: border-box;
}

/* Contenedor del Input con Icono */
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* Estilo del Icono */
.icon-toggle {
  position: absolute;
  left: 12px;
  color: #666;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 5;
  font-size: 20px;
}
/* Ajuste del Input para no tapar el Icono */
.input-with-icon {
  width: 100%;
  padding: 12px 12px 12px 40px !important;
  border-radius: 10px;
  border: none;
  font-family: var(--logipulse-font);
  box-sizing: border-box;
  font-size: 1rem;
}

/* Efecto al pasar el mouse por el icono */
.icon-toggle:hover {
  color: var(--logipulse-dark-blue);
}

/* Estilos del Mensaje de Error */
.error-message {
  color: #ffcccc;
  font-size: 0.8rem;
  font-family: var(--logipulse-font);
  margin-top: 0.5rem;
  padding-left: 0.2rem;
  text-align: left;
}

/* Resaltar Campos Invalidos */
input.ng-invalid.ng-touched {
  border: 2px solid #ff6666;
  background-color: #ffe0e0;
  color: black;
}

/* Link de Pagina de Contraseña Olvidada */
.forgot-password {
  display: block;
  color: white;
  text-decoration: underline;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-style: italic;
}

/* Botones */
.button-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-login, .btn-register {
  flex: 1;
  padding: 1.25rem 0 !important;
  font-family: var(--logipulse-font);
  font-weight: 600;
  min-height: 48px;
  margin: 0.5rem 0;
 }

/* Boton de registro de usuario */
 .btn-register {
  background-color: #000000;
  color: white;
 }

  /* Boton de login */
 .btn-login {
  background-color: var(--logipulse-light-blue);
  color: white;
 }

 .button-group .btn-login[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: black !important;
}

.mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled {
  background-color: rgb(106, 105, 105) !important;
  color: rgb(219, 215, 215) !important;
}

/* Copyright */
.copyright {
  margin-top: auto;
  padding: 1rem 0;
  color: #666;
  font-size: 0.75rem;
}

/* Moviles y Tablets */
@media(max-width: 992px) {
  /* Desaparece la Imagen */
  .image-container {
    display: none;
  }

  /* la caja de login */
  .form-container {
    padding-top: 80px;
  }

  .login-box {
    max-width: 90%;
    width: 100%;
    padding: 70px 1.5rem 1.5rem;
  }

  /* Adaptacion de titulos */
  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .button-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  input[type="email"],
  input[type="password"] {
    font-size: 1.1rem;
    padding: 1rem;
  }

  /* Diseño pantallas grandes */
  .login-container {
    display: flex;
    height: 100vh;
  }

  .image-container {
    flex: 1.5;
  }

  .form-container {
    flex: 1;
  }
}
