<div class="login-container">
  <div class="image-container" aria-hidden="true"></div>
    <div class="form-container">
      <div class="login-box">
        <div class="logo-wrapper">
          <img src="/assets/Logisyn.png" alt="LogiPulse Logo">
        </div>

        <h2>LogiPulse</h2>
        <p class="slogan">EL PULSO DE TU LOGISTICA</p>
        <h3>Inicio de Sesion</h3>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" aria-label="Formulario de inicio de sesión de LogiPulse">

          <label for="email">Correo Electronico:</label>
          <input id="email" formControlName="correoElectronico" type="email" placeholder="correo@electronico.com">
          <ng-container *ngIf="loginForm.get('correoElectronico')?.invalid && (loginForm.get('correoElectronico')?.dirty || loginForm.get('correoElectronico')?.touched)">
            <p class="error-message" *ngIf="loginForm.get('correoElectronico')?.errors?.['required']">
              El correo electrónico es <b>obligatorio</b>.
            </p>
            <p class="error-message" *ngIf="loginForm.get('correoElectronico')?.errors?.['email']">
              El formato de correo no es <b>válido</b>.
            </p>
          </ng-container>

          <label for="password">Contraseña:</label>
          <div class="input-wrapper">
            <mat-icon class="icon-toggle" (click)="togglePassword()">
              {{ hidePassword() ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <input id="password" formControlName="contrasena" class="input-with-icon" [type]="hidePassword() ? 'password' : 'text'" placeholder="••••••••">
          </div>
          <ng-container *ngIf="loginForm.get('contrasena')?.invalid && (loginForm.get('contrasena')?.dirty || loginForm.get('contrasena')?.touched)">
            <p class="error-message" *ngIf="loginForm.get('contrasena')?.errors?.['required']">
              La contraseña es <b>obligatoria</b>.
            </p>
          </ng-container>

          <a href="#" class="forgot-password"><b>¿Olvidaste tu Contraseña?</b></a>

          <div class="button-group">
            <button mat-raised-button class="btn-login" type="submit" [disabled]="loginForm.invalid">Inicio de Sesion</button>
            <button mat-raised-button class="btn-register" type="button" routerLink="/register">Creacion de Cuenta</button>
          </div>
        </form>
      </div>

      <span class="copyright">LOGISYN® 2025</span>
  </div>
</div>

@if(loaderService.isLoading()) {
  <app-loader></app-loader>
}
