<div class="login-container">
  <div class="image-container" role="presentation" aria-hidden="true"></div>
    <div class="form-container">
      <div class="login-box" role="main">
        <img src="/assets/Logisyn.png" alt="LogiPulse Logo" class="logo">

        <h2>LogiPulse</h2>
        <p class="slogan">EL PULSO DE TU LOGISTICA</p>
        <h3>Inicio de Sesion</h3>

        <form aria-label="Formulario de inicio de sesión de LogiPulse">
          <label for="email">Correo Electronico:</label>
          <input id="email" type="email" placeholder="correo@electronico.com">

          <label for="password">Contraseña:</label>
          <input id="password" type="password" placeholder="••••••••">

          <a href="#" class="forgot-password">¿Olvidaste tu Contraseña?</a>

          <div class="button-group">
            <button mat-raised-button class="btn-login">Inicio de Sesion</button>
            <button mat-raised-button class="btn-register">Creacion de Cuenta</button>
          </div>
        </form>
      </div>

      <span class="copyright" aria-hidden="true">LOGISYN® 2025</span>
  </div>
</div>
