.register-container {
  display: flex;
  overflow:auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 70px 20px 40px 20px;
  background-color: #f5f5f5;
  font-family: var(--logipulse-font);
  box-sizing: border-box;
}

/* La caja azul del formulario */
.register-box {
  background-color: var(--logipulse-dark-blue);
  color: white;
  border-radius: 25px;
  padding: 40px 30px;
  width: 100%;
  max-width: 900px; /* Ancho máximo para Desktop */
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  box-sizing: border-box;
}

.logo-wrapper {
  position: absolute;
  top: -50px;
  left: 50%;
  overflow: hidden; /* Esconde las partes de la imagen que se extienden del circulo */
  transform: translateX(-50%);
  background: white;
  border-radius: 50%; /* Círculo */
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.logo-wrapper img {
  width: 80px;
  height: 80px;
  display: block;
}

h2, h3, .slogan {
  text-align: center;
  margin: 0;
}

h2 { font-size: 2.2rem; margin-top: 20px; }
.slogan { font-size: 0.9rem; margin-bottom: 20px; font-weight: 300; letter-spacing: 1px; }
h3 { margin-bottom: 30px; font-weight: 500; }

/* Grid de Formulario */
.form-grid {
  display: grid;
  grid-template-columns: 1fr; /* Una columna por defecto (Móvil) */
  gap: 20px;
  margin-bottom: 30px;
}

/* Estilos del Formulario */
.form-field label {
  display: block;
  margin-bottom: 0.9rem;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Contenedor del Input con icono */
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* Estilos del Icono */
.icon-toggle {
  position: absolute;
  left: 10px;
  color: #666;
  cursor: pointer;
  user-select: none;
  z-index: 2;
  font-size: 20px;
}

/* Ajuste del Input para no tapar el Icono */
.input-with-icon {
  width: 100%;
  padding: 12px 12px 12px 40px !important;
  border-radius: 10px;
  border: none;
  font-family: var(--logipulse-font);
  box-sizing: border-box;
}

.icon-toggle:hover {
  color: var(--logipulse-dark-blue);
}

.form-field input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-family: var(--logipulse-font);
  box-sizing: border-box;
}

#rfc {
  text-transform: uppercase;
}

.error-message {
  color: #ffcccc;
  font-size: 0.8rem;
  font-family: var(--logipulse-font);
  margin-top: 0.5rem;
  padding-left: 0.2rem;
  text-align: left;
}

input.ng-invalid.ng-touched {
  border: 2px solid #ff6666;
  background-color: #ffe0e0;
  color: black;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-back, .btn-sign-in {
  flex: 1;
  padding: 1.25rem 0 !important;
  font-family: var(--logipulse-font);
  font-weight: 600;
  min-height: 48px;
  margin: 0.5rem 0;
}

/* Boton de retroceder */
.btn-back {
  background-color: #000000;
  color: white;
}

/* Boton de registro de Usuario */
.btn-sign-in {
  background-color: var(--logipulse-light-blue);
  color: white;
}

.button-group .btn-sign-in[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: black !important;
}

.mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled {
  background-color: rgb(106, 105, 105) !important;
  color: rgb(219, 215, 215) !important;
}

/* Copyright */
.copyright {
  margin-top: 30px;
  color: #666;
  font-size: 0.75rem;
}

/* --- RESPONSIVIDAD --- */

/* Tablets (768px hacia arriba) */
@media (min-width: 768px) {
  .register-container {
    justify-content: center;
    padding: 60px 40px;
  }

  .form-grid {
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .register-box {
    width: 85%;
    margin-top: 0;
  }
}

/* Desktop (1024px hacia arriba) */
@media (min-width: 1024px) {
  .register-box {
    max-width: 850px;
    padding: 50px 60px;
  }
}
