@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --logipulse-dark-blue: #1a3765;
  --logipulse-medium-blue: #20579e;
  --logipulse-ligth-blue: #00b0e9;

  --logipulse-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--logipulse-font);
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Snackbar de Exito */
.sucess-snackbar {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-color: white;
}

/* Snackbar de Error */
.error-snackbar {
  --mdc-snackbar-container-color: #d32f2f;
  --mdc-snackbar-supporting-text-color: white;
}

/* Snackbar de Informacion */
.info-snackbar {
  --mdc-snackbar-container-color: var(--logipulse-dark-blue);
  --mdc-snackbar-supporting-text-color: white;
}
