@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --logipulse-dark-blue: #1a3765;
  --logipulse-medium-blue: ##20579e;
  --logipulse-ligth-blue: #00b0e9;

  --logipulse-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--logipulse-font);
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
