
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}

.div1 {
    grid-column: span 3 / span 3;
}

.div2 {
    grid-column-start: 4;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div4 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.div5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div7 {
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    grid-row-start: 2;
}
